<div id="main">
        <div class="container-login">
            <div class="form-login">
                <div class="row">
                    <div class="col-left">
                        <p class="platform-first"></p>
                        <p class="platform-second"></p>
                        <p class="platform-th"></p>
                        <p class="platform-n"></p>
                    </div>
                    <div class="col-right">
                        <div class="form">
                            <div class="title">
                                <h2>User Register</h2>
                            </div>
                            <form>
                                <div class="form-control username">
                                    <label for="name"><i class="fa-solid fa-user"></i></label>
                                    <input type="text" id="name" class="text-control name" placeholder="Username">
                                </div>
                                <div class="form-control username">
                                    <label for="name"><i class="fa-solid fa-envelope"></i></label>
                                    <input type="text" id="email" class="text-control name" placeholder="Email">
                                </div>
                                <div class="form-control username">
                                    <label for="name"><i class="fa-solid fa-phone-volume"></i></label>
                                    <input type="text" id="phone" class="text-control name" placeholder="Phone number">
                                </div>
                                <div class="form-control password">
                                    <label for="password"><i class="fa-solid fa-lock"></i></label>
                                    <input type="password" id="password" class="text-control pass" placeholder="Password">
                                    <p class="eye"><i class="fa-solid fa-eye-slash"></i></p>
                                </div>
                                <div class="btn-login">
                                    <button class="btn-register">Register</button>
                                </div>
                            </form>
                        </div>
                        <div class="create">
                            <a href="/"> <p>Already have an account <i class="fa-solid fa-arrow-right"></i></p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
<script type="module" src="js/ajax/account.js"></script>



