<div id="main-crud">
    <div class="container">
        <div class="box-top">
            <div class="title">
                <h2>List departments: <span id="list-of"></span></h2>
                <a href="/messages"><i class="fa-solid fa-comment"></i> Chat<i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
            <hr class="new1">
            <div class="all-action">
                <div class="search">
                    <input type="text" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="filter-user">
                    <div class="add"><i class="fa-solid fa-building-user"></i> Department</div>
                    <div class="filter">
                        <select name="users" id="">
                            <option value="1">Filter options</option>
                            <option value="1">10</option>
                            <option value="1">15</option>
                        </select>
                    </div>
                    <div class="trash"><i class="fa-solid fa-trash-can"></i> Trash</div>

                </div>
            </div>
        </div>
        <div class="box-bot">
            <table border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Department</th>
                        <th>Administrator</th>
                        <th>creation date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="listDepartment"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- modal confirm delete -->
<div class="modal-delete">
    <div class="form-confirm">
        <div class="form">
            <div class="close-modal">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="title-confirm">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="btn-confirm">
                <a class="btn yes">Yes, I'm sure</a>
                <a class="btn no">No, cancel!</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal add user -->
<div class="modal-add">
    <div class="form-add">
        <div class="form">
            <div class="close-modal">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="title">
                <h2>Create Department</h2>
            </div>
            <hr class="new1">
            <div class="form-add-user">
                <form action="#" id="formAddUser">
                    <div class="box-text">
                        <div class="control-ip text-name">
                            <label for="#">Department name</label>
                            <input type="text" name="department-name" id="department-name" placeholder="Department name">
                        </div>
                        <div class="select-users">
                            <label for="#">Select users</label>
                            <select name="select-users" id="select-users">
                            </select>
                        </div>
                    </div>
                    <div class="upload-avatar">
                        <div class="show-image">
                            <img src="image/notfound.png" alt="">
                            <label for="file-upload" class="custom-file-upload">
                                Background Image
                            </label>
                            <input id="file-upload" name="avatar" type="file">
                        </div>
                    </div>

                    <div class="btn-add-user">
                        <a class="btn add btn-submit">+ Add new department</a>
                        <a href="#" class="btn reset">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="module" src="js/ajax/department.js"></script>

